image: owncloudci/clamavd:latest
manifests:
  - image: owncloudci/clamavd:amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/clamavd:arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
